
$toolbarheight : 50px;
$controlPanelHeight : 80px;

body{
    background-position: 0 $toolbarheight - 40px;
    /*background-position: 0 $toolbarheight;*/
    padding: 0;
    margin: 0;
}

#admintoolbox{
    top: 0;
    height: $toolbarheight;
    position: fixed;
    width: 100%;
    z-index: 90;
    background: #fff;
    &.notWebsite{
        height: $toolbarheight + $controlPanelHeight;
    }
    #adminMenuTop{
        height: $toolbarheight;
        background: #9c9e9f;
    }
    #admincontrolpanel{
        background: #fff;
        height: $controlPanelHeight;
        /*margin-top: $controlPanelHeight;*/

        .cmsAdminLeft,.deleteRows{
            background: #fff;
        }
        a{
            color: #9C9E9F;
        }
    }
    #cms_logo{
        float: right;
        margin: 15px 30px 0 25px;
    }
    ul{
        position: absolute;
        padding: 0;
        margin: 0;
        margin: 32px 0 0 0;
        z-index: 100;
        line-height: normal;
        li{
            float: left;
            list-style: none;
            a{
                text-decoration: none;
                white-space: nowrap;
                padding: 5px 15px;
                color: #b5b5b5;
                border: 1px solid #898989;
                border-bottom: none;
                border-top-right-radius: 4px;
                -moz-border-radius-topright: 5px;
                background: rgb(70,70,70);
                background: rgba(70,70,70,0.8);
            }
            a:hover{
                background: #fff;
                color: #464646;
            }
        }
        /* 2 EBENE */
        ul{
            margin: 4px 0 0 0;
            padding: 0;
            position: absolute;
            border-top: 1px solid white;
            display: none;
            background: rgb(70,70,70);
            background: rgba(70,70,70,0.8);
            min-width: 130px;
            li{
                float: none;
                display: block;
                a{
                    width: auto;
                    border-top-right-radius: 0;
                    -moz-border-radius-topright: 0;
                    float: none;
                    display: block;
                }
                a:hover{
                    color: #00baff;
                    background: none;
                }
                /*3 EBENE */
                ul{
                    margin: -25px 0 0 131px;
                    padding: 0;
                    position: absolute;
                    display: none;
                    background: rgb(70,70,70);
                    background: rgba(70,70,70,0.8);
                }
            }
        }
    }
    .cmsAdminLeft{
        float:left;
        width: 400px;
        padding: 10px;
        color: #9c9e9f;
    }
    .deleteRows{
        float: left;
        width: 850px;
        padding: 10px 10px 0 10px;
        color: #9c9e9f;
        height: 60px;
        overflow: auto;
        .checkbox{
            /*            padding: 5px 10px;*/
            width: 130px;
            float: left;
        }
    }
}
.arrowText{
    background: url(../images/icons/arrow.png) left no-repeat;
    padding: 3px 20px;
}

#staticToolbox{
    height: $toolbarheight;
    background-color: #fff;
    &.notWebsite{
        height: $toolbarheight + 64px;
    }
}

/*Dateimanager*/
$listPaddding: 15px;
$initPadding: 45px;
#dateimanager{
    color: #9c9e9f;
    background: #f2f0f0;

    a{
        color: #9C9E9F;
        text-decoration: none;
        font-style: italic;
        /*        padding-left: 5px;*/
        /*        background: url(../images/icons/more.png) left no-repeat;*/
    }
    .qq-upload-success{
        display: none;
    }


    .filemanagerDiv{
        float: left;
    }
    #folderDiv{
        width: 20%;

        #filetree2{
            margin: 0;
            list-style: none;
            display: block;
            cursor: pointer;
            list-style: none;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            /*            margin-left: -2px;*/
            ul{
                margin: 0;
                list-style: none;
                display: block;
                width: 100%;
                cursor: pointer;
                list-style: none;
                margin: 0;
                padding: 0;
                list-style: none;
                /*                padding-left: 10px;*/
                li{
                    display: block;
                    width: 100%;
                    /*                margin-left: -20px;*/
                    span{
                        padding: 5px 10px 5px $initPadding;
                        display: block;
                        text-decoration: none;
                        color: #9c9e9f;
                    }
                    &.selected{
                        font-weight: bold;
                        background: url(../images/icons/arrow_gray.gif) 95% 5px no-repeat #e0dede;
                        li{
                            font-weight: normal;
                        }

                        &.active{
                            background: url(../images/icons/arrow_gray_down.png) 95% 5px no-repeat #e0dede;
                        }
                    }

                    &:hover > .actions{
                        display: block;
                    }
                    .actions{
                        padding-top: 4px;
                        position: absolute;
                        display: none;
                        span{
                            padding: 0;
                            display: inline;
                        }
                    }
                    li span{
                        padding-left: $initPadding+$listPaddding*1;
                    }
                    li li span{
                        padding-left: $initPadding+$listPaddding*2;
                    }
                    li li li span{
                        padding-left: $initPadding+$listPaddding*3;
                    }
                    li li li li span{
                        padding-left: $initPadding+$listPaddding*4;
                    }
                }
            }
        }
    }
    #fileDiv{
        width: 20%;
        background: #f2f0f0;
        #fileHeader{

            border-left: 2px solid #fff;
        }
        #fileContent{

            border-left: 2px solid #fff;
        }
        #fileList2{
            /*height: 100%;*/

        }
        .datei{
            display: block;
            height: auto;
            padding: 5px 10px;
            margin: 0;
            border: 0;
            cursor: pointer;
            float: none;
            clear: both;
            .dateiname{
                height: auto;
                width: 100%;
                display: block;
                &.isLoading{
                    background-color: green;
                }
            }
            .fileactions,.dateiimg{
                display: none;
            }
            &.selected{
                background: url(../images/icons/arrow_gray.gif) 85% 5px no-repeat #e0dede;
            }
        }
    }
    #previewDiv{
        width: 60%;
        background: #fff;


        #previewHeader{
            border-left: 2px solid #fff;
        }
        #dateien2,#previewImage{
        }

        .datei{
            height: 240px;
            width: 180px;
            float: left;
            background: #f2f0f0;
            color: #9c9e9f;
            padding: 5px;
            overflow: hidden;
            margin-left: 10px;
            margin-top: 10px;

            .dateiimg{
                height: 190px;
                img{

                    cursor: pointer;
                }
            }
            .dateiname{
                height: 25px;
                overflow: hidden;
                display: block;
                padding: 2px 0 5px 0;
            }
            .fileactions .act{
                padding-right: 5px;
                cursor: pointer;
                .desc{
                    display: none;
                }
            }
        }

        #dateien{

            /*                padding:15px;*/
        }
        #previewImage{
            height: 500px;
            width: 80%;
            min-width: 400px;
            max-width: 80%;
            float: left;
            .backLink{
                display: block;
                padding: 5px 0;
            }
            .dateiimg{
                height: auto;
                text-align: left;
            }
            .dateiname{
                display: none;
            }
            .dateithumb{
                max-width: 100%;
            }
            .act{
                display: block;
                float: left;
                margin: 10px;
                text-align: center;
                cursor: pointer;
                color: #9C9E9F;
                font-style: italic;
                text-decoration: none;
                img{
                    width: 24px;
                    height: 24px;
                }
            }

            .desc{
                display: block;
            }
            .dateiBig{
                padding: 15px;
            }
        }
        #fileInfo{
            background: #F2F0F0;
            float: left;
            width: 20%;
            padding-top: 10px;
            span{
                display: block;
                font-style: italic;
                padding: 3px 10px;
                &.info{
                    font-style: normal;
                    padding-bottom: 20px;
                }
            }
        }

    }
}


.admineig{
    position: absolute;
    display: none;
    height: 16px;
    display: inline-block;
    z-index: 9999;
    margin-top: -16px;
    .button{
        padding: 0;
        border: none;

    }
}

.mainelement > .admineig{
    height: 32px;
    margin-top: -32px;
}

.container.mainelement > .admineig{
    float: right;
    height: 16px;
    margin-top: -16px;
}

#site .admineig div.button,#site div.admineig{
    padding: 2px 0 0 0;
    margin: 0;
    border: none;
}
.eigmenu{
    display: none;
}
.button{
    cursor: pointer;
    float: left;
}

a img{
    border: none;
}

.link{
    cursor: pointer
}

#filetree{
    margin-left: 20px;
    margin-top: 20px;
    float:left;

    .hoverAction{
        visibility: hidden;
        float:left;
    }
}
#dateien{
    float: left;
}
#delfolderdiv{
    width: 150px;
    height: 64px;
    background: url(../images/icons/trash.png) left no-repeat;
}
#delfolderdiv.dropdelete,#delfolderdiv.drophover{
    background: url(../images/icons/trash_full.png) left no-repeat;
}
#fileInputDiv{
    margin-top: 20px;
    clear: both;
}
#slider{
    width: 200px;
}
.linksTooltip{
    border: 3px solid #933;
    background-color: #600;
    padding: 10px;
    color: #ccc;
}
.inputsTooltip{
    border: 1px solid #000;
    background-color: #444;
    padding: 4px;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 150px;
}
.inputsTooltip #tooltipTitle
{
    font-weight: bold;
}
#hoverdiv{
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px;
    z-index: 10;
}
.listview .datei{
    width: 750px;
    height: 17px;
    float: none;
    margin-top: 3px;
}
.listview .datei span{
    float: left;
}
.listview .fileactions{
    float: right;
}
.dateiimg{
    width: 100%;
    height: 100px;
    text-align: center;
}
.datei .dateithumb{
    max-height: 100%;
    max-width: 100%;
    vertical-align:middle;
    text-align: center;
}
.datei .act{
    cursor: pointer;
    margin-left: 3px;
}
.dateiname{
    overflow: hidden;
    height: 30px;
    display: block;
}
.ui-selected{
    border: 1px solid red;
}
.ui-selecting { background: #FECA40; }

.drophover,.drophover li.drophover{
    background: #FECA40;
}
.drophover li{
    background: #fff;
}
#previewdiv{
    width: 100px;
    height: 100px;
    overflow:hidden;
    display: none;
}
#prevtext{
    display: none;
}
#filetree ul .load{
    list-style-image: url(../images/ajaxload.gif);
}

.element{
    min-height: 10px;
}

.adminfix{
    position: relative;
    top: -16px;
}
.adminfix ul{
    padding-left:0;
    padding-top: 16px;
}
.activeElement{
    outline: 1px dashed #1282c2;
}

#jstree-dragged,#jstree-marker,#ui-datepicker-div{
    z-index:2010;
}
#vars,.var{
    display: none;
}

#loading,#UserMessage{
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 250px;
    min-height: 20px;
    background-color: orange;
    padding: 0 10px;
    color: #fff;
    display: none;
    z-index: 95;
}
#UserMessage{
    background-color: #5c9863;
}
.showDragHandle{
    background-color: #000;
}
.tplsel{
    height: 30px;
    border: 1px solid blue;
    border: 1px solid black;
}
.tplsel.selected{
    border: 1px solid blue;
}
textarea{
    width: 400px;
    height: 300px;
}

table{
    width: 100%;
    .hoverAction{
        display: none;
        float:left;
    }
}
/*TABLES*/
tr{
    &.even{
        background-color: #dfdddd;
    }
    &.new,&.edit{
        background-color: #c2e5c3;
    }
    .level1{
        padding-left: 20px;

    }
    .level2{
        padding-left: 40px;
    }
    .level3{
        padding-left: 60px;
    }
    td{
        padding: 5px;
    }
    .last{
        text-align: left;
    }
}
.sort{
    th.header {
        background : url(../images/icons/bg.gif) center left no-repeat #e7cfa4;
        cursor: pointer;
        padding: 4px 20px;
        border-top-right-radius: 4px;
        -moz-border-radius-topright: 5px;
        border-right: 1px solid #fff;
        border-right: 1px solid #fff;
        border-bottom: none;
        margin-left: -1px;
        font-weight: normal;
        color: #000;
        white-space: nowrap;
    }
}
.markTable{
    tr{
        td:first-child{
            height: 46px;
        }
    }
}
.fakeheader{
    height: 25px;
    background : #e7cfa4;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 5px;
    /*    border-right: 1px solid #fff;*/
    /*    border-right: 2px solid #fff;*/
    border-bottom: none;
    /*    margin-left: -2px;*/
    font-weight: normal;
    color: #000;
    padding-left: 10px;
    line-height: 25px;
    img{
        cursor: pointer;
        vertical-align: middle;
    }
    #newFileDiv{
        padding-top: 4px;
        float: left;
    }
}
.sort th.headerSortDown {
    background-image: url(../images/icons/desc.gif);
    background-color: #d5ac5f;
}

.sort th.headerSortUp {
    background-image: url(../images/icons/asc.gif);
    background-color: #d5ac5f;
}
#websiteContent{
    position: absolute;
    width: 100%;
    height: 100%;
}
#admintoolbox,#admincontent,#admintoolbox a,.ui-dialog{
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#admincontent{
    padding: 20px;
    .fieldname{
        display: block;
        padding: 5px 0;
    }
    .formcontent{
        padding: 5px 0;
    }
}

#tagMenu{
    width: 250px;
}
/*EDITOR FIX*/
body.cke, #cke_contents_html html, #cke_contents_html html{
    background:none;
}
.msgIcon{
    float:left;
    margin: 0 15px 15px 0;
}
.warning{
    border: 1px solid #F9DD34;
    background: url(../images/icons/warning_small.png) left no-repeat #FFEF8F;
    background-position: 5px 5px;
    padding: 10px 10px 10px 50px;
    min-height: 20px;
}
.multiSelect{
    width: 300px;
}
/*Tables*/
#templates .template{
    padding: 20px;
    margin: 10px 10px 10px 0;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
}
#templates .template .tplHtml{
    display: none;
}
.clear{
    clear: both;
}
body.cke_panel_frame{
    background-image: none;
    background-color: #fff;
}
#debug{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1500;
    width: 500px;
    display: none;
}
#formBackups .timeline{
    display:none;
    width:90%;
    margin: 20px 50px 20px 10px;
    height: 50px;
}
#backupIcon{
    width: 50px;
    height: 32px;
    padding-left: 40px;
    background: url(../images/backup.png) top left no-repeat;
    float:right;
}
#helpIcon{
    width: 50px;
    height: 32px;
    padding-left: 40px;
    background: url(../images/icons/help.png) top left no-repeat;
    float:right;
}

.a4{
    border: 1px solid #000;
    width: 1050px;
    height: 1485px;
    /*        21,0 x 29,7 cm. */
    position: absolute;
}
.gridElement{
    width: 100px;
    height:100px;
    /*	background-color:#ccc;*/
    border: 1px solid #000;
    position: absolute;
}
.gridElement .cke_skin_kama{
    position: absolute;
    z-index: 100;
}
.gridElement p{
    margin: 0;
    padding: 0;
}
.gridBuildstatic{
    width: 1050px;
    height: 1505px;
}
#login{
    color: #fff;
    width: 210px;
    padding: 20px;
    font-size: 12px;
    margin: 200px auto 0 auto;
    height: 200px;
    border: 3px solid #000;
    background-color: #4a4a4a;
}
#login label{
    clear: both;
    display: block;
    padding-top: 5px;
}
#login label span{
    display: block;
    float: left;
    width: 80px;
}
#login label input{
    display: block;
    float: left;
    width: 120px;
    border: 1px solid #000;
    background-color: #ddd;
}
#login .loginButton{
    clear: both;
    display: block;
    margin-top: 15px;
    float: right;
    margin-right: 8px;
    border: 1px solid #000;
    background-color: #ddd;
}
.ui-dialog .ui-dialog-content.ajaxwindow{
    overflow: hidden;
}
#admincontent .column1,#admincontent .column2,#admincontent .column3 {
    width: 33%;
    float: left;
}
.ui-dialog .fieldname{
    display: block;
}

.multiSelect,.multisel,.addremove{
    display: none;
}

.ui-dialog-content input.checkbox,.ui-dialog-content .fieldname{
    float: none;
    width: auto;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}
body .ui-widget{
    font-size:12px;
}

/* Multiselect Fix*/
.ui-multiselect-menu{
    position: absolute;
    z-index: 5000;
}

.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  .clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

#admintoolbox  .deleteRows {
    width: 100%;
    float: none;
    clear: both;
    padding: 0px 10px;
    margin-top: -10px;
    height: auto;

    .arrowText,.checkbox {
        float:left;
    }
}