body{
	background-position: 0 94px;
	padding: 0;
	margin: 0;
}
.container {
	/*	min-height: 20px;*/
}
.admineig{
	/*	position: relative;*/
	position: absolute;
	display: none;
	height: 16px;
	display: inline-block;
	/*
	float: left;
	margin-top: -16px;
	width: 64px;
	*/
}
#site .admineig div.button,#site div.admineig{
	padding: 2px 0 0 0;
	margin: 0;
	border: none;
}
/*.container .admineig{
	float: right;
}*/
.eigmenu{
	display: none;
}
.button{
	cursor: pointer;
	float: left;
}

a img{
  border: none;
}

.link{
	cursor: pointer
}

#filetree{
	margin-left: 20px;
	margin-top: 20px;
	float:left;
}
#dateien{
	float: left;
}
#delfolderdiv{
	width: 150px;
	height: 64px;
	background: url(../images/icons/trash.png) left no-repeat;
}
#delfolderdiv.dropdelete,#delfolderdiv.drophover{
	background: url(../images/icons/trash_full.png) left no-repeat;
}
#fileInputDiv{
	margin-top: 20px;
	clear: both;
}
#slider{
	width: 200px;
}
#filetree ul{
	list-style-image: url(../images/icons/folder.png);
	padding-left: 15px;
	cursor: pointer;
}
.linksTooltip
{
	border: 3px solid #933;
	background-color: #600;
	padding: 10px;
	color: #ccc;
}
.inputsTooltip
{
	border: 1px solid #000;
	background-color: #444;
	padding: 4px;
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 150px;
}
.inputsTooltip #tooltipTitle
{
	font-weight: bold;
}
#hoverdiv{
	display: none;
	position: absolute;
	border: 1px solid black;
	background-color: #fff;
	padding: 10px;
	z-index: 10;
}
.listview .datei{
  width: 750px;
  height: 17px;
  float: none;
  margin-top: 3px;
}
.listview .datei span{
  float: left;
}
.listview .fileactions{
  float: right;
}
.datei{
	width: 110px;
	height: 150px;
	padding: 5px;
	float: left;
	border: 1px solid black;
	overflow: hidden;
	background-color: #fff;
	margin-left: 20px;
	margin-top: 20px;
}
.dateiimg{
	width: 100%;
	height: 100px;
	text-align: center;
}
.datei .dateithumb{
	max-height: 100%;
	max-width: 100%;
	vertical-align:middle;
	text-align: center;
}
.datei .act{
	cursor: pointer;
	margin-left: 3px;
}
.dateiname{
	overflow: hidden;
	height: 30px;
	display: block;
}
.ui-selected{
	border: 1px solid red;
}
.ui-selecting { background: #FECA40; }

.drophover,.drophover li.drophover{
	background: #FECA40;
}
.drophover li{
	background: #fff;
}
#previewdiv{
	width: 100px;
	height: 100px;
	overflow:hidden;
	display: none;
}
#prevtext{
	display: none;
}
#filetree ul .load{
	list-style-image: url(../images/ajaxload.gif);
}

.element{
	min-height: 10px;
}

.adminfix{
    position: relative;
    top: -16px;
}
.adminfix ul{
	padding-left:0;
	padding-top: 16px;
}
.activeElement{
	/*	position: absolute;*/
	outline: 1px dashed #1282c2;
	/*	margin: -1px 0 0 -1px;*/
	/*	background: rgba(50,50,50,0.2);*/
}
.simpleclon{
	/*	border:1px solid #fff;*/
}

#jstree-dragged,#jstree-marker,#ui-datepicker-div{
	z-index:2010;
}
#vars,.var{
	display: none;
}

#loading,#UserMessage{
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -75px;
	width: 250px;
	min-height: 20px;
	background-color: orange;
	padding: 0 10px;
	color: #fff;
	display: none;
	z-index: 95;
}
#UserMessage{
	background-color: #5c9863;
}
.showDragHandle{
	background-color: #000;
}
.tplsel{
	height: 30px;
	border: 1px solid blue;
	border: 1px solid black;
}
.tplsel.selected{
	border: 1px solid blue;
}
.selected{
	list-style-image: url(../images/icons/folder_open.gif);
}.selected ul li{
	list-style-image: url(../images/icons/folder.png);
}
textarea{
	width: 400px;
	height: 300px;
}

/*ADMIN*/

/*TABLES*/
tr.even{
	background-color: #e5eef4;
}
tr td.level1{
	padding-left: 20px;
}
tr td.level2{
	padding-left: 40px;
}
tr td.level3{
	padding-left: 60px;
}
tr.edit{
	/*background-color: #f28b31;*/
}
tr.new,tr.edit{
	background-color: #c2e5c3;
}
.sort th.header {
    background-image: url(../images/icons/bg.gif);
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
    border-right: 1px solid #dad9c7;
	border-bottom: none;
    margin-left: -1px;
}

.sort th.headerSortDown {
    background-image: url(../images/icons/desc.gif);
    background-color: #3399FF;
}

.sort th.headerSortUp {
    background-image: url(../images/icons/asc.gif);
    background-color: #3399FF;
}
#staticToolbox{
	height: 94px;
}
#websiteContent{
	position: absolute;
	width: 100%;
	height: 100%;
}
#admintoolbox,#admincontent,#admintoolbox a,.ui-dialog{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#admintoolbox{
	top: 0;
	height: 94px;
	position: fixed;
	width: 100%;
	z-index: 90;
    background: url(../images/new/toolbox_bg.gif) top left repeat-x;
}

#admintoolbox ul{
	padding: 0;
	margin: 0;
	margin: 75px 0 0 80px;
	z-index: 100;
	line-height: normal;
}

#admintoolbox ul li{
	float: left;
	list-style: none;
}

#admintoolbox ul li a
{
	text-decoration: none;
	white-space: nowrap;
	padding: 5px 15px;
	color: #b5b5b5;
	border: 1px solid #898989;
	border-bottom: none;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 5px;
}

#admintoolbox ul li a:hover{
	background: #fff;
	color: #464646;
}

#admintoolbox ul li ul{
	margin: 4px 0 0 0;
	padding: 0;
	position: absolute;
	border-top: 1px solid white;
	display: none;
	background: rgb(70,70,70);
	background: rgba(70,70,70,0.8);
	min-width: 130px;
}
#admintoolbox ul li ul ul{
	margin: -25px 0 0 131px;
	padding: 0;
	position: absolute;
	display: none;
	background: rgb(70,70,70);
	background: rgba(70,70,70,0.8);
}

#admintoolbox ul li ul li{
	float: none;
	display: block;
}

#admintoolbox ul li ul li a{
	width: auto;
	border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	float: none;
	display: block;
}

#admintoolbox ul li ul li a:hover{
	color: #00baff;
	background: none;
}

#admincontent{
	padding: 20px;
}


#admintoolbox #cms_logo{
	float: left;
	margin: 15px 0 0 25px;
}

#tagMenu{
	width: 250px;
}
/*EDITOR FIX*/
body.cke, #cke_contents_html html, #cke_contents_html html{
	background:none;
}
.msgIcon{
	float:left;
	margin: 0 15px 15px 0;
}
.warning{
	border: 1px solid #F9DD34;
	background: url(../images/icons/warning_small.png) left no-repeat #FFEF8F;
	background-position: 5px 5px;
	padding: 10px 10px 10px 50px;
	min-height: 20px;
}
.multiSelect{
	width: 300px;
}
/*Tables*/
#templates .template{
	padding: 20px;
	margin: 10px 10px 10px 0;
	border: 1px solid #000;
	float: left;
	cursor: pointer;
}
#templates .template .tplHtml{
	display: none;
}
.clear{
	clear: both;
}
body.cke_panel_frame{
	background-image: none;
	background-color: #fff;
}
#debug{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1500;
	width: 500px;
	display: none;
}
#formBackups .timeline{
	display:none;
	width:90%;
	margin: 20px 50px 20px 10px;
	height: 50px;
}
#backupIcon{
	width: 50px;
	height: 32px;
	padding-left: 40px;
	background: url(../images/backup.png) top left no-repeat;
	float:right;
}
#helpIcon{
	width: 50px;
	height: 32px;
	padding-left: 40px;
	background: url(../images/icons/help.png) top left no-repeat;
	float:right;
}

.a4{
	border: 1px solid #000;
	width: 1050px;
	height: 1485px;
/*        21,0 x 29,7 cm. */
	position: absolute;
}
.gridElement{
	width: 100px;
	height:100px;
/*	background-color:#ccc;*/
	border: 1px solid #000;
	position: absolute;
}
.gridElement .cke_skin_kama{
	position: absolute;
	z-index: 100;
}
.gridElement p{
	margin: 0;
	padding: 0;
}
.gridBuildstatic{
	width: 1050px;
	height: 1505px;
}
#login{
	color: #fff;
	width: 210px;
	padding: 20px;
	font-size: 12px;
	margin: 200px auto 0 auto;
	height: 200px;
	border: 3px solid #000;
	background-color: #4a4a4a;
}
#login label{
	clear: both;
	display: block;
	padding-top: 5px;
}
#login label span{
	display: block;
	float: left;
	width: 80px;
}
#login label input{
	display: block;
	float: left;
	width: 120px;
	border: 1px solid #000;
	background-color: #ddd;
}
#login .loginButton{
	clear: both;
	display: block;
	margin-top: 15px;
	float: right;
	margin-right: 8px;
	border: 1px solid #000;
	background-color: #ddd;
}
.ui-dialog .ui-dialog-content.ajaxwindow{
    overflow: hidden;
}
#admincontent .column1,#admincontent .column2,#admincontent .column3 {
    width: 33%;
    float: left;
}
.ui-dialog .fieldname{
  display: block;
}

.multiSelect,.multisel,.addremove{
  display:none;
}
.ui-dialog-content input.checkbox,.ui-dialog-content .fieldname{
  float: none;
  width: auto;
}