.kontaktFormular {
    form .formcontent { clear: both; margin-bottom: 10px; }
    form .formcontent .fieldname { padding-top: 3px; display: block; float: left; width: 30%; }
    form .formcontent .formularzeile { float: left; width: 70%; }
    form .formcontent input { background-color: #F8F8F8; border: 1px solid #999; }
    form .formcontent .radio { border: none; background-color: white; }
    form .formcontent label.radio { padding-right: 20px; border: none; background-color: transparent; }
    form .formcontent textarea { padding-right: 20px; border: 1px solid #999; width: 300px; height: 150px;}
    form .submit { padding-left: 30%; }
    form {
        margin-bottom: 20px;
    }
    
}
    